<div>
  <div class="col-xs-8 col-sm-11 text-right">
    <%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %>
  </div>
  <div class="col-xs-4 col-sm-1 text-right">
    <%= order_form.object.display_item_total %>
  </div>
</div>

<% unless @order.shipments.empty? %>
    <div>
      <div class="col-xs-8 col-sm-11  text-right">
        <%= Spree.t(:shipping) %>
      </div>
      <div class="col-xs-4 col-sm-1 text-right">
        <%= order_form.object.display_shipment_total %>
      </div>
    </div>
<% end %>

<div>
  <div class="col-xs-8 col-sm-11  text-right">
    <%= Spree.t(:estimated_total, :count => @order.line_items.sum(:quantity)) %>
  </div>
  <div class="col-xs-4 col-sm-1 text-right">
    <%= order_form.object.display_total %>
  </div>
</div>