<div class="row">
  <div class="col-xs-9 text-right">
    <h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5>
  </div>
  <div class="col-xs-2">
    <%= order_form.object.display_item_total %>
  </div>
</div>

<% unless @order.shipments.empty? %>
    <div class="row">
      <div class="col-xs-9 text-right">
        <h5><%= Spree.t(:shipping) %></h5>
      </div>
      <div class="col-xs-2">
        <%= order_form.object.display_shipment_total %>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-xs-9 text-right">
    <h5><%= Spree.t(:estimated_total, :count => @order.line_items.sum(:quantity)) %></h5>
  </div>
  <div class="col-xs-2">
    <%= order_form.object.display_total %>
  </div>
</div>