
<% cache [@order, current_store] do %>
<% @body_id = 'cart' %>
<div data-hook="cart_container" class="container">

  <% if @order.line_items.empty? %>

    <div data-hook="empty_cart">
      <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
      <p><%= link_to Spree.t(:continue_shopping), products_path, :class => 'btn btn-default' %></p>
    </div>

  <% else %>

  <div data-hook="outside_cart_form">
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

    <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>

        <div class="row cart-checkout-button">
         <%= button_tag :class => 'btn btn-lg', :id => 'checkout-link', :name => 'checkout' do %>
              <i class="glyphicon glyphicon-lock"></i> <%= Spree.t(:secure_checkout) %> <i class="glyphicon glyphicon-circle-arrow-right"></i>
         <% end %>
       </div>

      <div id="new_cart_form">

        <%= render partial: 'line_item', collection: order_form.object.line_items, locals: {order_form: order_form} %>

        <div class="cart-quantities-update">
          <%= link_to "#", class:'btn btn-sm btn-empty-cart', id: 'empty-cart' do %>
              <%= Spree.t(:empty_cart) %>
          <% end %>

          <%= link_to "#", :class => 'btn btn-sm', id: 'update-quantities-link' do %>
              <%= Spree.t(:update_quantities) %>
          <% end %>
        </div>

        <%= render 'adjustments', order_form: order_form %>
        <%= render 'coupon_form', order_form: order_form %>


        <div class="cart-checkout-button">
          <%= button_tag :class => 'btn btn-lg', :id => 'checkout-link', :name => 'checkout' do %>
              <i class="glyphicon glyphicon-lock"></i> <%= Spree.t(:secure_checkout) %> <i class="glyphicon glyphicon-circle-arrow-right"></i>
          <% end %>
        </div>
    <% end # end cart form %>
    </div>
  </div>
    <% end # end if line items not empty %>
  <div class="cart-secure-seal col-xs-12">
    <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=C3aOudlOQqx1s1P3FS6gsYEYaF3pWDwAx97MgounipehtjLfJi7OESI"></script></span>
    <script type="text/javascript" language="javascript">var ANS_customer_id="c0a25aca-6881-4b9c-bc56-9d53b1a9208a";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
  </div>
</div>
<% end # end caching %>

