<div id='checkout-account-panel' class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Account</h3>
  </div>

  <div class='panel-body'>
    <%= form_tag checkout_assign_user_path, remote: true, id: "checkout-assign-user-form" do %>
      <% if Spree::User.where(email: order.email).exists? %>
        <div><%= Spree.t(:already_have_an_account) %></div>
        <%= label_tag :password, 'Password', class: 'control-label' %>
        <%= password_field :password, '', class: 'form-control' %>
      <% else %>
        <div><%= Spree.t(:dont_have_an_account) %></div>
        <%= label_tag :password, 'Password',                      class: 'control-label' %>
        <%= password_field :password, '',                         class: 'form-control' %>
        <%= label_tag :password_confirmation, 'Confirm password', class: 'control-label' %>
        <%= password_field :password_confirmation, '',            class: 'form-control' %>
      <% end %>
    <% end %>
  </div>
</div>
