<div id="checkout" data-hook class="container">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="row" data-hook="checkout_header">
    <div class="col-sm-3">
      <h1 data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
    </div>
  </div>

  <div class="row" data-hook="checkout_content">
    <div class='col-sm-10'>
      <% if @order.email.blank? || !try_spree_current_user %>
        <%= render 'email', order: @order %>
      <% end %>
    </div>

    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-sm-2">
        <div id="checkout-summary-content" class="checkout-summary white-background">
          <%= render partial: 'summary', locals: { order: @order } %>
        </div>
      </div>
    <% end %>

    <div class="col-sm-5">
      <%= render 'step', order: @order, step: 'address' %>
    </div>

    <div id="checkout-col-2" class="col-sm-5">
      <%= render 'step', order: @order, step: 'delivery' %>
      <%= render 'step', order: @order, step: 'payment' %>
    </div>

    <div class='col-sm-2'></div>
  </div>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>";
Spree.current_order_token = "<%= @order.token %>";
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
