<div id="checkout" data-hook class="container">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <div class="row" data-hook="checkout_header">
    <div class="col-sm-3">
      <h1 data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
    </div>
  </div>

  <div class="row" data-hook="checkout_content">
    <%# TODO if not logged in, render the login thing here? %>
    <div class='col-md-12'>
    </div>

    <div class="col-md-4">
      <%= render 'step', order: @order, step: 'address' %>
    </div>

    <div class="col-md-4">
      <%= render 'step', order: @order, step: 'delivery' %>
      <%= render 'step', order: @order, step: 'payment' %>
    </div>

    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-4">
        <div data-spy="affix" class="affix-top">
          <%= render :partial => 'summary', :locals => { :order => @order } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.token %>"
</script>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>
