<%= form_for :order, :url => populate_orders_path do |f| %>
    <div id="variantTabs">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#product-options">
                <% if @product.option_types.count == 1 %>
                    <%= @product.option_types.first.presentation %>
                 <% else %>
                    Option
                 <% end %>
              </a>
            </li>
          </ul>
          <div class="tab-content default-product-layout">

            <% if @product.variants_and_option_values(current_currency).any? %>
                <div class="tab-pane clearfix active" id="product-options">
                  <ul class="variants full-width">
                    <% @product.variants.each do |variant| %>
                        <li>
                          <% if @product.option_types.count == 1 %>
                            <% option_type = @product.option_types.first.name %>
                            <% text = variant.option_value(option_type) %>
                            <input id="<%= variant.id %>" class="btn btn-default variant-button variant-button-wide" type="button" value="<%= text %>" data-price="<%= Spree::Money.new(variant.price, currency: current_currency, with_currency: false).to_s %>" style="width: <%= variant_button_width(text) %>;" >
                          <% else %>
                            <% text = variant_options variant %>
                            <input id="<%= variant.id %>" class="btn btn-default variant-button variant-button-default" type="button" value="<%= text %>" data-price="<%= Spree::Money.new(variant.price, currency: current_currency, with_currency: false).to_s %>" style="width: <%= variant_button_width(text) %>;" >
                            <% end %>
                        </li>
                    <% end %>
                  </ul>
                </div>
                <%= hidden_field_tag :variant_id, '', 'data-variant-count' => @product.variants.count %>
            <% else %>
                <%= hidden_field_tag :variant_id, @product.master.id, 'data-variant-count' => '1', 'data-no-variants' => true %>
            <% end %>
            <%= hidden_field_tag :quantity, 1 %>
            <div class="btn-group clearfix buy-button" id="buy-button">
              <%= f.submit 'BUY', class: 'btn btn-default' %>
              <%= f.submit number_to_currency(@product.price), class: 'btn btn-default', id: 'variant-price' %>
            </div>
          </div>
    </div>
<% end %>
