<div class="row-fluid" id="banner-slides">
  <div class="container">
    <div class="carousel-homepage carousel slide">
      <ol class="carousel-indicators">
        <% if !current_store.homepage_slides.empty? %>
            <li data-target="#banner-slides" data-slide-to="0" class="active"></li>
            <% current_store.homepage_slides.each_with_index do |slide, i| %>
                <li data-target="#banner-slides" data-slide-to="<%= i+1 %>"></li>
            <% end %>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x250/auto/#333:#333" src="data:image/png;base64," alt="<%= current_store.name %>" class="banner-trans-img">
          <div class="carousel-caption">
            <h3 class="site-name"><%= current_store.name %></h3>
          </div>
        </div>
        <% current_store.homepage_slides.each do |slide| %>
            <div class="item">
              <% if slide.image.blank? %>
                  <img data-src="holder.js/900x250/auto/#333:#333" src="data:image/png;base64," alt="<%= slide.label %>" class="banner-trans-img">
              <% else %>
                  <img data-src="<%= slide.image.url(:homepage) %>" src="<%= slide.image.url(:homepage) %>" alt="<%= slide.label %>">
              <% end %>
              <div class="carousel-caption">
                <h3><%= slide.label.html_safe %></h3>
                <p><%= slide.text.html_safe %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div id="taxon-nav-and-products" class="container">
  <div id="homepage-left-column" class="taxonomies-top hidden-xs col-sm-4 col-md-3">
    <%= render 'spree/shared/taxonomies' %>
  </div>

  <div id="homepage-right-column" class="col-sm-8 col-md-9">
    <div id="products">
      <% if current_store.homepage.blank? %>
        <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
      <% else %>
        <%= render :partial => 'spree/shared/products', :locals => { products: current_store.homepage.products, pagination: nil } %>
      <% end %>
    </div>
  </div>

  <div id="homepage-left-column" class="taxonomies-bottom visible-xs">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>


</div>


