<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
    <%= Spree.t(:stylesheets) %>
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:new_stylesheet), new_object_url,  :icon => 'icon-plus', :id => 'admin_new_stylesheet_link' %>
    </li>
<% end %>

<table class="index" id='listing_stylesheets'>
  <colgroup>
    <col style="width: 120px">
    <col style="width: 80px">
    <col style="width: 80px">
    <col style="width: 220px">
    <col style="width: 15%">
  </colgroup>
  <thead>
  <th><%= Spree.t(:stylesheet_name) %></th>
  <th><%= Spree.t(:stores) %></th>
  <th data-hook="admin_stylesheets_index_header_actions" class="actions"></th>
  </thead>
  <tbody>
  <% @stylesheets.each do |stylesheet|%>
      <tr id="<%= spree_dom_id stylesheet %>"
          data-hook="admin_stylesheets_index_rows" class="<%= cycle('odd', 'even') %>">
        <td><%= stylesheet.name %></td>
        <td><%= stylesheet.stores.map(&:name).join(', ') %></td>
        <td data-hook="admin_stylesheets_index_row_actions" class="actions">
          <%= link_to_edit stylesheet, :no_text => true %> &nbsp;
          <%= link_to_delete stylesheet, :no_text => true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>